# Dependencies
node_modules/

# Production build outputs
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & IDE
.vscode/
.idea/

# OS files
.DS_Store

# Tests & coverage
coverage/

# Environment files
.env
.env.*